.container {
    min-height: 300px;
    margin-top: 50px;
    width: 65%;
    background-color: #FFF8D4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(79, 98, 121, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}

.date {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 16px;
    color: #4F6279;
    margin: 10px 10px;
}
/* Tags */

.tagsContainer {
    padding: 5px 0 0 10px;
}

/* Collection */

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* DELETE CARD */

.deleteContainer {
    display: flex;
    align-items: center;
}

.deleteContainer img {
    padding: 0 0 0 5px;
    cursor: pointer;
}

/* DELETE CARD END */

.collectionContainer {
    cursor: pointer;
    padding: 8px 19px 9px 17px;
    max-width: 60%; 

    /* Glass effect */
    background: linear-gradient(180deg, rgba(79, 98, 121, 0.4698) 0%, rgba(79, 98, 121, 0.58) 100%);
    border: 1px solid rgba(98, 98, 98, 0.38);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 50px rgba(10, 129, 171, 0.25);
    backdrop-filter: blur(50px);
    border-radius: 10px;
}

.name, .author {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    font-size: 12px;
}

/* DELETE MODAL */

.closeButton {
    transform: rotate(45deg);
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cancelBtn {
    width: 100%;
    background-color: transparent;
    height: 35px;
    line-height: 0;
    font-size: 16px;
    color: #643A08;;
    margin-bottom: 5px;
}

.deleteBtn {
    width: 100%;
    height: 35px;
    line-height: 0;
    font-size: 16px;
    background-color: #F55959;
    border-color: #F55959;
    color: white;
    margin-bottom: 5px;
    margin-right: 15px;
}
