.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
}

.wrapper span {
    margin-left: 10px;
}

.header {
    margin: 10px 0 0 0;
    padding: 0;
}

.name {
    margin: 10px 0 0 0;
    padding: 0;
}

.author {
    margin: 0;
    padding: 0;
}
