.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.wrapper {
    word-break: break-word;
    width: 100%;
    min-height: 50px;
    border-radius: 10px 10px 0 0;
    background: rgba(79, 98, 121, 0.61);
    box-shadow: inset 0px 0px 50px rgba(10, 129, 171, 0.25);
    backdrop-filter: blur(50px);
}

.text {
    width: 100%;
    height: auto;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

