.container {
    background-color: rgba(198, 192, 164, .23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container li {
    float: right;
    margin: 10px 30px;
    font-size: 14px;
    color: var(--colour-text-primary);
}


