html,

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #FFFAE1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
    font-family: "Poppins";
    background-color: #FFFAE1;
    border: 1.7px solid #643A08;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
 
h1 {
    margin: 0;
}

.modal-content {
  margin: auto;
  background: black;
  width: 50%;
  padding: 5px;
}

.modal-arrow {
  color: rgb(255, 255, 255);
}

.modal-overlay {
  background: rgba(0, 0, 0, 1);
}

:root {
    --colour-text-primary: #4F6279;
    --colour-text-secondary: #626262;
    --primary-colour: #0A81AB;
    --bg: #FFFAE1;
}
