@tailwind base;
@tailwind components;
@tailwind utilities;html,

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

:root {
  --colour-text-primary: #4f6279;
  --colour-text-secondary: #626262;
  --card-bg-colour: #fff8d4;
  --primary-colour: #0a81ab;
  --bg: #fffae1;
}

/* MARKDOWN */

#card-container h1,
#card-container h2,
#card-container h3,
#card-container h4,
#card-container h5,
#card-container h6 {
  margin: 10px 0;
  color: var(--colour-text-primary);
}

#card-container ul,
#card-container ol {
  margin: 10px 0;
  color: var(--colour-text-primary);
}

#card-container code,
#excerpt-container code {
  background-color: #d7d7d7;
}

#card-container pre,
#excerpt-container pre {
  border-radius: 4px;
  white-space: pre-wrap;
  margin: 5px 0;
  padding: 5px;
  text-align: left;
  background-color: #d7d7d7;
}

#excerpt-container code {
  color: black;
}

#excerpt-container pre {
  margin: 5px 20px;
}

#excerpt-container hr {
  margin-left: 20px;
  margin-right: 20px;
}

#card-container blockquote {
  border-left: 5px solid var(--colour-text-primary);
  margin: 10px 0;
  padding: 5px 30px;
  background-color: #c4c4c450;
  border-radius: 0 7px 7px 0;
}

#excerpt-container blockquote {
  border-left: 5px solid var(--colour-text-primary);
  margin: 10px 15px;
  padding: 5px 15px;
  background-color: #c4c4c450;
  border-radius: 0 7px 7px 0;
}

#excerpt-container ul,
#excerpt-container ol {
  margin: 10px 0;
  color: white;
  text-align: left;
}

#card-container li {
  margin: 0;
  color: var(--colour-text-primary);
}

#excerpt-container li {
  text-align: left;
  margin: 0;
  color: white;
}

#card-container img,
#excerpt-container img {
  margin: 10px auto;
  max-width: 100%;
  display: block;
}

#card-container a {
  color: var(--colour-text-secondary);
  text-decoration: underline;
}

#excerpt-container a {
  color: #fffffff0;
  text-decoration: underline;
}

#excerpt-container p,
#excerpt-container h1,
#excerpt-container h2,
#excerpt-container h3,
#excerpt-container h4,
#excerpt-container h5,
#excerpt-container h6 {
  width: 100%;
  color: white;
  text-align: left;
  padding: 0 20px;
  margin: 0;
}
