.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.btn {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 110px;
    font-size: 11px;
    border-radius: 4px;
    background-color: #C4C4C469;
    color: var(--colour-text-secondary);
    border: none;
    transition: 0.2s all;
}

.btn:hover {
    cursor: pointer;
    background-color: #C4C4C489;
}

.flex {
    display: flex;
    padding: 8px 10px 8px 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 7px;
}

.flex:nth-child(odd) {
    background-color: #C4C4C469;
}

.flex p {
    width: 35%;
    margin: 0;
    font-size: 14px;
    color: var(--colour-text-secondary);
}

.syntax {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.syntax p {
    width: 100%;
    color: #00000080;
}

.syntax ul, .syntax ol {
    margin: 0;
}

.closeBtn {
    margin-top: 15px;
    height: 35px;
    width: 80px;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    font-size: 16px;
    color: #643A08;;
}
