.nav {
    display: flex;
    flex-direction: row;
    margin: 15px 30px;
    justify-content: space-between;
}

.navLogo {
    font-size: 26px;
    color: var(--primary-colour);
    cursor: pointer;
    font-family: "Lora";
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--colour-text-secondary);
}

.nav li {
    margin-left: 50px;
    cursor: pointer;
}

.menu {
    width: 30px;
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
}

.mobileNav {
    background-color: #626262a0;
    backdrop-filter: blur(15px);
    height: 130px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobileNav li {
    margin: 10px 0;
    color: white;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    padding: 5px 0;
}

@media screen and (max-width: 570px) {
    .nav li {
        margin-left: 25px;
    }
}

@media screen and (max-width: 500px) {
    .navLogo {
        font-size: 22px;
        transform: translateY(2px);
    }
}
