.nav {
    display: flex;
    flex-direction: row;
    margin: 15px 30px;
    justify-content: space-between;
}

.navLogo {
    font-size: 26px;
    color: var(--primary-colour);
    cursor: pointer;
    font-family: "Lora";
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--colour-text-secondary);
}

.nav li {
    margin-left: 50px;
    cursor: pointer;
}

.menu {
    width: 30px;
    display: flex;
    align-items: center;
}

.signOutBtn {
    margin-left: 30px;
    border: 2px solid var(--primary-colour);
    color: var(--primary-colour);
    width: 100px;
    height: 35px;
    line-height: 0;
    font-size: 16px;
    border-radius: 7px;
}

.signInBtn {
    background-color: var(--primary-colour);
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    line-height: 0;
    font-size: 16px;
    border-radius: 7px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.mobileNav {
    background-color: #626262a0;
    backdrop-filter: blur(15px);
    height: 130px;
    width: 100vw;
    position: absolute;
    z-index: 999999;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobileNav li {
    margin: 10px 0;
    color: white;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    padding: 5px 0;
}

@media screen and (max-width: 570px) {
    .nav li {
        margin-left: 25px;
    }
}
