.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 90vh;
}

.inputExcerpt {
    background: transparent;
    width: 100%;
    height: 90px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #643A08;;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputNote {
    background: transparent;
    width: 100%;
    height: 130px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #643A08;;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.charLimit {
    font-size: 14px;
    margin-top: 5px;
    color: grey;
    text-align: right;
}

.box {
    width: 80%;
}

.previewBox {
    width: 90%;
}

.header {
    margin: 0;
    padding: 0;
    text-align: left;
    color: var(--colour-text-primary);
}

.editingContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.previewContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    margin-top: 10px;
}

.heading {
    text-align: left;
    color: var(--colour-text-primary);
}

.button {
    border: none;
    background-color: #0A81AB;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 50px;
    float: right;
}

/* MOBILE DISPLAY */
@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .editingContainer {
        width: 85%;
    }

    .previewContainer {
        width: 85%;
        margin: 25px 0;
    }
}


/* MOBILE DISPLAY */
@media screen and (max-width: 480px) {

    .editingContainer {
        width: 95%;
    }

    .previewContainer {
        width: 90%;
    }
}




