.container {
    width: 100%;
    padding: 15px;
    padding-bottom: 90px;
    text-align: left;
    word-break: break-word;
}

.container p {
    margin: 0;
    padding: 0;
    color: var(--colour-text-primary);
}
