.footerText {
    margin: 10px 30px;
    font-size: 14px;
    color: var(--colour-text-primary);
    cursor: pointer;
}

.cancelBtn {
    line-height: 0;
    background-color: transparent;
    color: #643A08;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 25px;
    height: 38px;
    width: 100%;
}

.shortcut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
}

.keys {
    display: flex;
    align-items: center;
    width: 60%;
}

.desc {
    width: 40%;
}

/* KEY */

.key p  {
    padding: 0px;
    color: var(--colour-text-secondary);
}
