.container {
    margin: 20% auto;
    padding: 30px 30px;
    width: 350px;
    border-radius: 10px;
    background-color: #FFF8D4;
    box-shadow: 0 0 20px rgba(79, 98, 121, 0.2);
    text-align: center;
}
    
.logo {
    color: #0A81AB;
}

.button {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    margin: 30px auto;
    color: #FFF;
    background: linear-gradient(180deg, rgba(79, 98, 121, 0.4698) 0%, rgba(79, 98, 121, 0.58) 100%);
    border: 1px solid rgba(98, 98, 98, 0.38);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 50px rgba(10, 129, 171, 0.25);
    backdrop-filter: blur(50px);
    border-radius: 10px;
}

.button img {
    height: 20px;
    width: 20px;
}
