.flex {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
}

.container {
  margin-top: 20px;
  height: calc(100vh - 131px);
}

.main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 131px);
}

.wrapper {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.wrapper img {
  padding-left: 10px;
  cursor: pointer;
}

.cardsList {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 10px 0 10px 0;
  font-weight: 400;
  font-size: 26px;
  color: var(--colour-text-primary);
}

.tag {
  margin: 10px 0 0 10px;
  font-weight: 700;
}

.cardsList::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.cardsList::-webkit-scrollbar-thumb {
  background-color: #4F627960;
  border-radius: 9px;
}

.text {
  text-align: center;
}
