.container {
    display: flex;
    margin: 10px 10px 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

/* MOBILE DISPLAYS */
@media screen and (max-width: 480px) {
    .container {
        margin: 10px 10px 0 0;
    }
}
